*, html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Gordita", Helvetica;
}

body {
  width: 100%;
}

.heading-2-bold {
  font-size: var(--heading-heading-2-bold-font-size);
  font-weight: var(--heading-heading-2-bold-font-weight);
  font-style: var(--heading-heading-2-bold-font-style);
  letter-spacing: var(--heading-heading-2-bold-letter-spacing);
  line-height: var(--heading-heading-2-bold-line-height);
}

.heading-3-bold {
  font-size: var(--heading-heading-3-bold-font-size);
  font-weight: var(--heading-heading-3-bold-font-weight);
  font-style: var(--heading-heading-3-bold-font-style);
  letter-spacing: var(--heading-heading-3-bold-letter-spacing);
  line-height: var(--heading-heading-3-bold-line-height);
  text-align: center;
}

.heading-3-medium {
  font-size: var(--heading-heading-3-medium-font-size);
  font-weight: var(--heading-heading-3-medium-font-weight);
  font-style: var(--heading-heading-3-medium-font-style);
  letter-spacing: var(--heading-heading-3-medium-letter-spacing);
  line-height: var(--heading-heading-3-medium-line-height);
}

.headline-1-bold {
  font-size: var(--headline-headline-1-bold-font-size);
  font-weight: var(--headline-headline-1-bold-font-weight);
  font-style: var(--headline-headline-1-bold-font-style);
  letter-spacing: var(--headline-headline-1-bold-letter-spacing);
  line-height: var(--headline-headline-1-bold-line-height);
}

.headline-3-regular {
  font-size: var(--headline-headline-3-regular-font-size);
  font-weight: var(--headline-headline-3-regular-font-weight);
  font-style: var(--headline-headline-3-regular-font-style);
  letter-spacing: var(--headline-headline-3-regular-letter-spacing);
  line-height: var(--headline-headline-3-regular-line-height);
}

.headline-3-medium {
  font-size: var(--headline-headline-3-medium-font-size);
  font-weight: var(--headline-headline-3-medium-font-weight);
  font-style: var(--headline-headline-3-medium-font-style);
  letter-spacing: var(--headline-headline-3-medium-letter-spacing);
  line-height: var(--headline-headline-3-medium-line-height);
}

.headline-2-bold {
  font-size: var(--headline-headline-2-bold-font-size);
  font-weight: var(--headline-headline-2-bold-font-weight);
  font-style: var(--headline-headline-2-bold-font-style);
  letter-spacing: var(--headline-headline-2-bold-letter-spacing);
  line-height: var(--headline-headline-2-bold-line-height);
}

.label-1-medium {
  font-size: var(--label-label-1-medium-font-size);
  font-weight: var(--label-label-1-medium-font-weight);
  font-style: var(--label-label-1-medium-font-style);
  letter-spacing: var(--label-label-1-medium-letter-spacing);
  line-height: var(--label-label-1-medium-line-height);
}

.body-1-regular {
  font-size: var(--body-body-1-regular-font-size);
  font-weight: var(--body-body-1-regular-font-weight);
  font-style: var(--body-body-1-regular-font-style);
  letter-spacing: var(--body-body-1-regular-letter-spacing);
  line-height: var(--body-body-1-regular-line-height);
}

.callout-medium {
  font-size: var(--callout-medium-font-size);
  font-weight: var(--callout-medium-font-weight);
  font-style: var(--callout-medium-font-style);
  letter-spacing: var(--callout-medium-letter-spacing);
  line-height: var(--callout-medium-line-height);
}

.flower {
  width: 50px;
  height: 50px;
}

/* button start */
.button-1-1, .button-1-2, .button-2-1, .button-2-2, .button-3-1, .button-3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  backdrop-filter: blur(3px);
}

.button-1-1, .button-2-1, .button-3-1 {
  background: var(--mainprimarypr-700, #187D28);
  color: var(--mainprimarypr-50);
  border: none;

  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
}

.button-1-2, .button-2-2, .button-3-2 {
  border: 2px solid var(--Linear-1, #349F61);
  background: rgba(255, 255, 255, 0.01);
  color: var(--mainprimarypr-700);

  /* 3D second */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.00) inset;
}

.button-1-1, .button-1-2 {
  padding: 12px 36px;
}

.button-2-1, .button-2-2 {
  padding: 12px 24px;
}

.button-3-1, .button-3-2 {
  padding: 12px 48px;
}

/* button end */

/* navbar start */
.navbar {
  display: flex;
  padding: 12px 136px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid var(--mainprimarypr-700, #187D28);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 2px 0 rgba(52, 159, 97, 0.50);
  backdrop-filter: blur(40px);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.nav-logo {
  color: var(--mainprimarypr-700);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.nav-logo img {
  width: 26px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 36px;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  padding: 8px 0;
  /* border-bottom: 2px solid var(--mainprimarypr-700); */
  color: var(--mainprimarypr-700);
}

.active, .menu:hover {
  border-bottom: 2px solid var(--mainprimarypr-700);
  color: var(--mainprimarypr-900);
}
/* navbar end */

/* main start */
.main {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  /* margin-top: 72px; */
  padding-top: 72px;
}

.home {
  /* background-color: #187D28; */
  padding: 32px 136px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 236px;
  /* align-self: stretch; */
}

.home-text {
  /* background-color: tomato; */
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.text {
  display: flex;
  gap: 16px;
  flex-direction: column;
  color: var(--mainprimarypr-900);
}

.heading-1 {
  font-size: var(--heading-heading-1-bold-font-size);
  font-weight: var(--heading-heading-1-bold-font-weight);
  font-style: var(--heading-heading-1-bold-font-style);
  letter-spacing: var(--heading-heading-1-bold-letter-spacing);
  line-height: var(--heading-heading-1-bold-line-height);
}

.home-button {
  display: flex;
  padding-top: 12px;
  align-items: center;
  gap: 24px;
}
/* main end */

/* competitions start */
.competitions {
  padding: 32px 136px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headings {
  display: flex;
  gap: 48px;
  padding: 48px 0 12px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  color: var(--mainprimarypr-900);
}

.contain {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 24px 0;
  color: var(--mainprimarypr-700);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  box-sizing: unset;
  padding: 16px;
  background-color: var(--mainprimarypr-700);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  /* background: var(--Main-Primary-pr700, #187D28); */

  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px);
}

.card-icon img {
  width: 56px;
  height: 56px;
}

.card-contain {
  position: relative;
  display: flex;
  align-self: stretch;
  margin-top: -46px;
}

.card-button {
  display: flex;
  gap: 16px;
}

.subtract-contain {
  position: absolute;
}

.subtract {
  /* position: absolute; */
  height: 360px;
  flex-shrink: 0;
  /* align-self: stretch; */
  fill: var(--mainprimarypr-50, #F0FDF1);
  stroke-width: 2px;
  stroke: var(--Linear-1, #349F61);
}

.card-content {
  height: 360px;
  width: 349px;
  z-index: 1;
  padding: 72px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* competitions end */

/* event start */
.event {
  padding: 32px 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.event .contain {
  display: flex;
  align-self: stretch;
  border: 2px solid var(--Linear-1, #349F61);
  background: var(--mainprimarypr-50, #F0FDF1);
  border-radius: 16px;
  padding: 48px 36px;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.event .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 94px;
}

.event .content-text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 48px;
  width: 75%;
}

.content-image {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 16px;
  background-color: var(--mainprimarypr-700);
  border-radius: 12px;

  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px);
}

.content-image img {
  width: 100%;
}
/* event end */

/* faq start */
.faq {
  padding: 32px 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.faq .contain {
  display: flex;
  align-self: stretch;
  /* background-color: tomato; */
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.faq .contain-faq {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.faq-card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1.5px solid var(--Linear-1, #349F61);
  background: #F0FDF1;
}

.faq-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
/* faq end */

/* sponsor start */
.sponsor {
  /* padding: 32px 136px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor .contain {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sponsor .headings, .sponsorship, .medpart {
  align-items: center;
  padding: 24px 136px;
  /* background-color: tomato; */
}

.sponsorship, .medpart {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.sponsor-content, .medpart-content {
  display: flex;
  gap: 48px;
}

.item-sponsor {
  width: 150px;
  height: 150px;
}

.item-medpart {
  width: 100px;
  height: 100px;
}

.item-sponsor, .item-medpart {
  flex-shrink: 0;
  border-radius: 100%;
  background-color: var(--mainprimarypr-700);
  box-shadow: 3px 3px 6px 0 rgba(178, 222, 203, 0.75) inset, -3px -3px 4px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px);
}

.footer {
  padding: 24px 0 0;
}

.contact, .sosmed, .copyright {
  display: flex;
  justify-content: space-between;
}

.copyright {
  gap: 4px;
  align-items: center;
}

.contact {
  background-color: var(--mainprimarypr-900);
  color: var(--mainprimarypr-50);
  padding: 48px 136px;
}

.contact-content-1, .contact-content-2, .contact-content-3 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* background-color: tomato; */
}

.contact-content-1 {
  gap: 24px;
}

.contact-content-2 {
  gap: 16px;
}

.contact-content-3 {
  gap: 48px;
}

.footer-tcc {
  display: flex;
  /* background-color: aquamarine; */
  gap: 24px;
}

.footer-tcc img {
  width: 52px;
}

.quick-links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 8px;
}

.quick-links a {
  color: var(--mainprimarypr-50);
}

.contact-contain {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-fill {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-contact {
  display: flex;
  align-items: center;
  gap: 24px;
}

.presented {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.presented-logo {
  display: flex;
  gap: 20px;
}

.presented img {
  height: 64px;
}

.sosmed {
  align-items: center;
  background-color: var(--mainprimarypr-50);
  color: var(--mainprimarypr-900);
  padding: 24px 136px;
}

.sosmed-fill {
  display: flex;
  gap: 12px;
}
/* sponsor end */




/* competitions page start */
.competitions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 24px; */
  /* margin-top: 72px; */
  padding: 64px 136px 24px;
  color: var(--mainprimarypr-900);
}

.section, .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: tomato; */
}

.section-content {
  /* background-color: tomato; */
  width: 60%;
  text-align: center;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.flower img {
  width: 50px;
  height: 50px;
}

.registrasi {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 12px 0;
  gap: 12px;
  font-size: var(--display-bold-font-size);
  font-weight: var(--display-bold-font-weight);
  font-style: var(--display-bold-font-style);
  letter-spacing: var(--display-bold-letter-spacing);
  line-height: var(--display-bold-line-height);
}

.card-icon img {
  height: 100%;
  width: 65%;
}

.card-content-diff {
  height: 360px;
  width: 349px;
  z-index: 1;
  padding: 84px 36px 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-card {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.list-card img {
  width: 15%;
  rotate: -10deg;
}

.timeline {
  display: flex;
  width: 100%;
  padding: 12px 0;
  align-items: center;
  gap: 68px;
  /* justify-content: space-between; */
}

.timeline-contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.list-timeline {
  display: flex;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
}

.list-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.list-content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 2px solid var(--Linear-1, #349F61);
  background: var(--Main-Primary-pr50, #F0FDF1);
}

.number {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 15px 12px;
  justify-content: center;
  align-items: center;
  background-color: var(--mainprimarypr-700);
  color: var(--mainprimarypr-50);
  border-radius: 100%;
  gap: 10px;
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px); 
}

/* competitions page end */
