*, html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Gordita", Helvetica;
}

body {
  width: 100%;
}

.heading-2-bold {
  font-size: var(--heading-heading-2-bold-font-size);
  font-weight: var(--heading-heading-2-bold-font-weight);
  font-style: var(--heading-heading-2-bold-font-style);
  letter-spacing: var(--heading-heading-2-bold-letter-spacing);
  line-height: var(--heading-heading-2-bold-line-height);
}

.heading-3-bold {
  font-size: var(--heading-heading-3-bold-font-size);
  font-weight: var(--heading-heading-3-bold-font-weight);
  font-style: var(--heading-heading-3-bold-font-style);
  letter-spacing: var(--heading-heading-3-bold-letter-spacing);
  line-height: var(--heading-heading-3-bold-line-height);
}

.headline-3-regular {
  font-size: var(--headline-headline-3-regular-font-size);
  font-weight: var(--headline-headline-3-regular-font-weight);
  font-style: var(--headline-headline-3-regular-font-style);
  letter-spacing: var(--headline-headline-3-regular-letter-spacing);
  line-height: var(--headline-headline-3-regular-line-height);
}

.headline-2-bold {
  font-size: var(--headline-headline-2-bold-font-size);
  font-weight: var(--headline-headline-2-bold-font-weight);
  font-style: var(--headline-headline-2-bold-font-style);
  letter-spacing: var(--headline-headline-2-bold-letter-spacing);
  line-height: var(--headline-headline-2-bold-line-height);
}

.label-1-medium {
  font-size: var(--label-label-1-medium-font-size);
  font-weight: var(--label-label-1-medium-font-weight);
  font-style: var(--label-label-1-medium-font-style);
  letter-spacing: var(--label-label-1-medium-letter-spacing);
  line-height: var(--label-label-1-medium-line-height);
}

.flower {
  width: 50px;
  height: 50px;
  background-color: #187D28;
  border-radius: 100%;
}

/* button start */
.button-1-1, .button-1-2, .button-2-1, .button-2-2, .button-3-1, .button-3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  backdrop-filter: blur(3px);
}

.button-1-1, .button-2-1, .button-3-1 {
  background: var(--mainprimarypr-700, #187D28);
  color: var(--mainprimarypr-50);
  border: none;

  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
}

.button-1-2, .button-2-2, .button-3-2 {
  border: 2px solid var(--Linear-1, #349F61);
  background: rgba(255, 255, 255, 0.01);
  color: var(--mainprimarypr-700);

  /* 3D second */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.00) inset;
}

.button-1-1, .button-1-2 {
  padding: 12px 36px;
}

.button-2-1, .button-2-2 {
  padding: 12px 24px;
}

.button-3-1, .button-3-2 {
  padding: 12px 48px;
}

/* button end */

/* navbar start */
.navbar {
  display: flex;
  padding: 12px 136px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid var(--mainprimarypr-700, #187D28);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 2px 0 rgba(52, 159, 97, 0.50);
  backdrop-filter: blur(17.5px);
}

.nav-logo {
  color: var(--mainprimarypr-700);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: var(--headline-headline-2-medium-font-size);
  font-weight: var(--headline-headline-2-medium-font-weight);
  font-style: var(--headline-headline-2-medium-font-style);
  letter-spacing: var(--headline-headline-2-medium-letter-spacing);
  line-height: var(--headline-headline-2-medium-line-height);
}

.nav-menu {
  font-size: var(--headline-headline-3-medium-font-size);
  font-weight: var(--headline-headline-3-medium-font-weight);
  font-style: var(--headline-headline-3-medium-font-style);
  letter-spacing: var(--headline-headline-3-medium-letter-spacing);
  line-height: var(--headline-headline-3-medium-line-height);
  display: flex;
  align-items: center;
  gap: 36px;
}

.menu {
  display: flex;
  padding: 8px 0;
  border-bottom: 2px solid var(--mainprimarypr-700);
  color: var(--mainprimarypr-700);
}
/* navbar end */

/* main start */
.main {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.home {
  /* background-color: #187D28; */
  padding: 32px 136px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 236px;
  /* align-self: stretch; */
}

.home-text {
  /* background-color: tomato; */
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.text {
  display: flex;
  gap: 16px;
  flex-direction: column;
  color: var(--mainprimarypr-900);
}

.heading-1 {
  font-size: var(--heading-heading-1-bold-font-size);
  font-weight: var(--heading-heading-1-bold-font-weight);
  font-style: var(--heading-heading-1-bold-font-style);
  letter-spacing: var(--heading-heading-1-bold-letter-spacing);
  line-height: var(--heading-heading-1-bold-line-height);
}

.home-button {
  display: flex;
  padding-top: 12px;
  align-items: center;
  gap: 24px;
}
/* main end */

/* competitions start */
.competitions {
  padding: 32px 136px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headings {
  display: flex;
  gap: 48px;
  padding: 24px 0;
  align-self: stretch;
  justify-content: center;
}

.contain {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 24px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  box-sizing: unset;
  padding: 16px;
  background-color: var(--mainprimarypr-700);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  /* background: var(--Main-Primary-pr700, #187D28); */

  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px);
}

.card-icon img {
  width: 56px;
  height: 56px;
}

.card-contain {
  position: relative;
  display: flex;
  align-self: stretch;
  margin-top: -46px;
}

.card-button {
  display: flex;
  gap: 16px;
}

.subtract-contain {
  position: absolute;
}

.subtract {
  /* position: absolute; */
  height: 360px;
  flex-shrink: 0;
  /* align-self: stretch; */
  fill: var(--mainprimarypr-50, #F0FDF1);
  stroke-width: 2px;
  stroke: var(--Linear-1, #349F61);
}

.card-content {
  height: 360px;
  width: 349px;
  z-index: 1;
  padding: 72px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* competitions end */
