/* competitions start */
.competitions {
  padding: 32px 136px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headings {
  display: flex;
  gap: 48px;
  padding: 48px 0 12px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  color: var(--mainprimarypr-900);
}

.contain {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 24px 0;
  color: var(--mainprimarypr-700);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon, .card-icon-juara {
  box-sizing: unset;
  padding: 16px;
  background-color: var(--mainprimarypr-700);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;

  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px);
}

.card-icon img {
  width: 56px;
  height: 56px;
}

.card-contain {
  position: relative;
  display: flex;
  align-self: stretch;
  margin-top: -46px;
}

.card-button {
  display: flex;
  gap: 16px;
}

.subtract-contain {
  position: absolute;
}

.subtract {
  height: 360px;
  flex-shrink: 0;
  fill: var(--mainprimarypr-50, #F0FDF1);
  stroke-width: 2px;
}

.card-content {
  height: 360px;
  width: 349px;
  z-index: 1;
  padding: 72px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* competitions end */