/* competitions start */
.competitions {
  padding: 32px 136px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timeline {
  display: flex;
  align-items: start;
}

.headings {
  display: flex;
  gap: 48px;
  padding: 48px 0 12px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  color: var(--mainprimarypr-900);
}

.section-content .headline-3-medium {
  text-align: justify;
}

.contain {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 24px 0;
  color: var(--mainprimarypr-700);
}

.registrasi {
  display: flex;
  padding: 12px 0;
  /* align-items: flex-start; */
  gap: 48px;
}

.registrasi-content {
  display: flex;
  padding: 24px 36px 36px 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
}

.buka {
  border: 2px solid var(--mainprimarypr-700, #187D28);
  background: var(--mainprimarypr-50, #F0FDF1);
  color: var(--mainprimarypr-900);
}

.tutup {
  border: 2px solid var(--mainneutralne-700, #545454);
  background: var(--mainneutralne-50, #FAFAFA);
  color: var(--mainneutralne-900);
}

.content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.content-2 {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.status-contain {
  display: flex;
  padding: 6px 12px 6px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid var(--mainprimarypr-700, #187D28);
  background: var(--mainprimarypr-100, #DDFBE0);
}

.open {
  border: 1px solid var(--mainprimarypr-700, #187D28);
  background: var(--mainprimarypr-100, #DDFBE0);
  color: var(--mainprimarypr-700);
}

.soon {
  border: 1px solid var(--Main-Secondary-sr700, #A67002);
  background: var(--Main-Secondary-sr100, #FEFFC1);
  color: var(--mainsecondarysr-700);
}

.close {
  color: var(--statusdangerdg-700);
  border: 1px solid var(--statusdangerdg-700, #C81D0D);
  background: var(--statusdangerdg-100, #FFE2DF);
}

.open-icon {
  width: 20px;
  height: 20px;
}

.card {
  display: flex;
  width: 349.333px;
  flex-direction: column;
  align-items: center;
  gap: -64px;
}

.card-icon, .card-icon-juara {
  box-sizing: unset;
  padding: 16px;
  background-color: var(--mainprimarypr-700);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  
  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px);
}

.lkti .card-icon-juara {
  padding: 24px;
}

.card-icon img {
  width: 56px;
  height: 56px;
}

.hadiah .card-icon-juara img {
  display: flex;
  height: fit-content;
}

.card-contain {
  display: flex;
  align-items: center;
  margin-top: -46px; 
  align-self: stretch;
}

.hadiah .card-contain {
  margin-top: -36px;
}

.lkti.hadiah .card-contain {
  margin-top: -28px; 
}


.card-button {
  display: flex;
  gap: 16px;
}

.subtract-contain {
  position: absolute;
}

.card-content-diff {
  display: flex;
  height: 360px;
  width: fit-content;
  z-index: 1;
  padding: 72px 36px 36px;
  flex-direction: column;
}

.lkti .card-content-diff {
  padding: 52px 36px 36px;
}

.subtract {
  height: 360px;
  flex-shrink: 0;
  fill: var(--mainprimarypr-50, #F0FDF1);
  stroke-width: 2px;
}

.lkti .subtract {
  height: 406px;
}   

.card-content {
  height: 360px;
  width: 349px;
  z-index: 1;
  padding: 72px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}

.timeline-tgl {
  color: var(--mainprimarypr-50);
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: linear-gradient(92deg, #187D28 0%, #DDE589 100%);
  box-shadow: 2px 2px 4px 0 rgba(137, 236, 151, 0.50) inset, -2px -2px 2px 0 rgba(214, 225, 133, 0.35) inset;
  backdrop-filter: blur(3px);
}
/* competitions end */