/* sponsor start */
.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor .contain {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-sponsor, .item-medpart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-sponsor img {
  width: 100px;
  height: 100px;
}

.item-sponsor.nelongso img {
  /* width: 100px; */
  height: 50px;
}

.sponsor .headings, .sponsorship, .medpart {
  align-items: center;
  padding: 24px 136px;
}

.sponsorship, .medpart {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.sponsor-content, .medpart-content {
  display: flex;
  gap: 48px;
}

.item-sponsor {
  width: 150px;
  height: 150px;
}

.item-medpart {
  width: 100px;
  height: 100px;
}

.item-sponsor, .item-medpart {
  flex-shrink: 0;
  border-radius: 100%;
  background-color: var(--mainprimarypr-700);
  box-shadow: 3px 3px 6px 0 rgba(178, 222, 203, 0.75) inset, -3px -3px 4px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px);
}

.footer {
  padding: 24px 0 0;
}

.contact, .sosmed, .copyright {
  display: flex;
  justify-content: space-between;
}

.copyright {
  gap: 4px;
  align-items: center;
}

.contact {
  background-color: var(--mainprimarypr-900);
  color: var(--mainprimarypr-50);
  padding: 48px 136px;
}

.contact-content-1, .contact-content-2, .contact-content-3 {
  display: flex;
  flex-direction: column;
}

.contact-content-1 {
  gap: 24px;
}

.contact-content-2 {
  gap: 16px;
}

.contact-content-3 {
  gap: 48px;
}

.footer-tcc {
  display: flex;
  gap: 24px;
}

.footer-tcc img {
  width: 52px;
}

.quick-links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 8px;
}

.quick-links a {
  color: var(--mainprimarypr-50);
}

.contact-contain {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-fill {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-contact {
  display: flex;
  align-items: center;
  gap: 24px;
}

.presented {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.presented-logo {
  display: flex;
  gap: 20px;
}

.presented img {
  height: 64px;
}

.sosmed {
  align-items: center;
  background-color: var(--mainprimarypr-50);
  color: var(--mainprimarypr-900);
  padding: 24px 136px;
}

.sosmed-fill {
  display: flex;
  gap: 12px;
}
/* sponsor end */

