:root {
  --Linear-3: linear-gradient(to right, #60AA1C, #EFEE99);
  --mainprimarypr-50: rgba(240, 253, 241, 1);
  --mainprimarypr-100: rgba(221, 251, 224, 1);
  --mainprimarypr-200: rgba(189, 245, 197, 1);
  --mainprimarypr-300: rgba(137, 236, 151, 1);
  --mainprimarypr-400: rgba(78, 218, 98, 1);
  --mainprimarypr-500: rgba(39, 192, 61, 1);
  --mainprimarypr-600: rgba(29, 178, 51, 1);
  --mainprimarypr-700: rgba(24, 125, 40, 1);
  --mainprimarypr-800: rgba(24, 99, 36, 1);
  --mainprimarypr-900: rgba(22, 81, 32, 1);
  --mainprimarypr-950: rgba(6, 45, 13, 1);
  --mainsecondarysr-50: rgba(255, 255, 231, 1);
  --mainsecondarysr-100: rgba(254, 255, 193, 1);
  --mainsecondarysr-200: rgba(255, 253, 134, 1);
  --mainsecondarysr-300: rgba(255, 243, 65, 1);
  --mainsecondarysr-400: rgba(255, 228, 13, 1);
  --mainsecondarysr-500: rgba(255, 213, 0, 1);
  --mainsecondarysr-600: rgba(209, 156, 0, 1);
  --mainsecondarysr-700: rgba(166, 112, 2, 1);
  --mainsecondarysr-800: rgba(137, 87, 10, 1);
  --mainsecondarysr-900: rgba(116, 71, 15, 1);
  --mainsecondarysr-950: rgba(68, 37, 4, 1);
  --mainneutralne-50: rgba(250, 250, 250, 1);
  --mainneutralne-100: rgba(222, 222, 222, 1);
  --mainneutralne-200: rgba(199, 199, 199, 1);
  --mainneutralne-300: rgba(176, 176, 176, 1);
  --mainneutralne-400: rgba(153, 153, 153, 1);
  --mainneutralne-500: rgba(130, 130, 130, 1);
  --mainneutralne-600: rgba(107, 107, 107, 1);
  --mainneutralne-700: rgba(84, 84, 84, 1);
  --mainneutralne-800: rgba(66, 66, 66, 1);
  --mainneutralne-900: rgba(48, 48, 48, 1);
  --mainneutralne-950: rgba(33, 33, 33, 1);
  --statusinfoinf-50: rgba(240, 247, 255, 1);
  --statusinfoinf-100: rgba(225, 237, 253, 1);
  --statusinfoinf-200: rgba(187, 219, 252, 1);
  --statusinfoinf-300: rgba(127, 190, 250, 1);
  --statusinfoinf-400: rgba(59, 158, 245, 1);
  --statusinfoinf-500: rgba(18, 130, 229, 1);
  --statusinfoinf-600: rgba(5, 92, 180, 1);
  --statusinfoinf-700: rgba(6, 79, 158, 1);
  --statusinfoinf-800: rgba(9, 68, 131, 1);
  --statusinfoinf-900: rgba(14, 59, 108, 1);
  --statusinfoinf-950: rgba(9, 37, 72, 1);
  --statuswarningwr-50: rgba(255, 250, 237, 1);
  --statuswarningwr-100: rgba(255, 243, 213, 1);
  --statuswarningwr-200: rgba(255, 227, 169, 1);
  --statuswarningwr-300: rgba(254, 206, 115, 1);
  --statuswarningwr-400: rgba(253, 183, 80, 1);
  --statuswarningwr-500: rgba(251, 149, 20, 1);
  --statuswarningwr-600: rgba(236, 120, 10, 1);
  --statuswarningwr-700: rgba(196, 91, 10, 1);
  --statuswarningwr-800: rgba(155, 71, 17, 1);
  --statuswarningwr-900: rgba(125, 61, 17, 1);
  --statuswarningwr-950: rgba(68, 29, 6, 1);
  --statusdangerdg-50: rgba(255, 242, 241, 1);
  --statusdangerdg-100: rgba(255, 226, 223, 1);
  --statusdangerdg-200: rgba(255, 202, 197, 1);
  --statusdangerdg-300: rgba(255, 165, 157, 1);
  --statusdangerdg-400: rgba(255, 113, 100, 1);
  --statusdangerdg-500: rgba(255, 92, 77, 1);
  --statusdangerdg-600: rgba(237, 39, 21, 1);
  --statusdangerdg-700: rgba(200, 29, 13, 1);
  --statusdangerdg-800: rgba(165, 28, 15, 1);
  --statusdangerdg-900: rgba(136, 30, 20, 1);
  --statusdangerdg-950: rgba(75, 10, 4, 1);
  --Linear-2: linear-gradient(90deg, rgba(224, 230, 139, 0.00) 0%, #165120 35%, #165120 65%, rgba(224, 230, 139, 0.00) 100%);
  --display-regular-font-family: "Gordita", "Poppins", Helvetica;
  --display-regular-font-weight: 400;
  --display-regular-font-size: 72px;
  --display-regular-letter-spacing: 0px;
  --display-regular-line-height: 108px;
  --display-regular-font-style: normal;
  --display-light-font-family: "Gordita", "Poppins", "Poppins", Helvetica;
  --display-light-font-weight: 300;
  --display-light-font-size: 72px;
  --display-light-letter-spacing: 0px;
  --display-light-line-height: 98px;
  --display-light-font-style: normal;
  --display-medium-font-family: "Gordita", "Poppins", Helvetica;
  --display-medium-font-weight: 500;
  --display-medium-font-size: 72px;
  --display-medium-letter-spacing: 0px;
  --display-medium-line-height: 98px;
  --display-medium-font-style: normal;
  --display-bold-font-family: "Gordita", "Poppins", Helvetica;
  --display-bold-font-weight: 700;
  --display-bold-font-size: 72px;
  --display-bold-letter-spacing: 0px;
  --display-bold-line-height: 98px;
  --display-bold-font-style: normal;
  --heading-heading-1-light-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-1-light-font-weight: 300;
  --heading-heading-1-light-font-size: 48px;
  --heading-heading-1-light-letter-spacing: 0px;
  --heading-heading-1-light-line-height: 56px;
  --heading-heading-1-light-font-style: normal;
  --heading-heading-1-regular-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-1-regular-font-weight: 400;
  --heading-heading-1-regular-font-size: 48px;
  --heading-heading-1-regular-letter-spacing: 0px;
  --heading-heading-1-regular-line-height: 56px;
  --heading-heading-1-regular-font-style: normal;
  --heading-heading-1-medium-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-1-medium-font-weight: 500;
  --heading-heading-1-medium-font-size: 48px;
  --heading-heading-1-medium-letter-spacing: 0px;
  --heading-heading-1-medium-line-height: 56px;
  --heading-heading-1-medium-font-style: normal;
  --heading-heading-1-bold-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-1-bold-font-weight: 700;
  --heading-heading-1-bold-font-size: 48px;
  --heading-heading-1-bold-letter-spacing: 0px;
  --heading-heading-1-bold-line-height: 64px;
  --heading-heading-1-bold-font-style: normal;
  --heading-heading-2-light-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-2-light-font-weight: 300;
  --heading-heading-2-light-font-size: 40px;
  --heading-heading-2-light-letter-spacing: 0px;
  --heading-heading-2-light-line-height: 44px;
  --heading-heading-2-light-font-style: normal;
  --heading-heading-2-regular-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-2-regular-font-weight: 400;
  --heading-heading-2-regular-font-size: 40px;
  --heading-heading-2-regular-letter-spacing: 0px;
  --heading-heading-2-regular-line-height: 44px;
  --heading-heading-2-regular-font-style: normal;
  --heading-heading-2-medium-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-2-medium-font-weight: 500;
  --heading-heading-2-medium-font-size: 40px;
  --heading-heading-2-medium-letter-spacing: 0px;
  --heading-heading-2-medium-line-height: 44px;
  --heading-heading-2-medium-font-style: normal;
  --heading-heading-2-bold-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-2-bold-font-weight: 700;
  --heading-heading-2-bold-font-size: 40px;
  --heading-heading-2-bold-letter-spacing: 0px;
  --heading-heading-2-bold-line-height: 44px;
  --heading-heading-2-bold-font-style: normal;
  --heading-heading-3-light-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-3-light-font-weight: 300;
  --heading-heading-3-light-font-size: 32px;
  --heading-heading-3-light-letter-spacing: 0px;
  --heading-heading-3-light-line-height: 36px;
  --heading-heading-3-light-font-style: normal;
  --heading-heading-3-regular-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-3-regular-font-weight: 400;
  --heading-heading-3-regular-font-size: 32px;
  --heading-heading-3-regular-letter-spacing: 0px;
  --heading-heading-3-regular-line-height: 36px;
  --heading-heading-3-regular-font-style: normal;
  --heading-heading-3-medium-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-3-medium-font-weight: 500;
  --heading-heading-3-medium-font-size: 32px;
  --heading-heading-3-medium-letter-spacing: 0px;
  --heading-heading-3-medium-line-height: 36px;
  --heading-heading-3-medium-font-style: normal;
  --heading-heading-3-bold-font-family: "Gordita", "Poppins", Helvetica;
  --heading-heading-3-bold-font-weight: 700;
  --heading-heading-3-bold-font-size: 32px;
  --heading-heading-3-bold-letter-spacing: 0px;
  --heading-heading-3-bold-line-height: 36px;
  --heading-heading-3-bold-font-style: normal;
  --headline-headline-1-light-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-1-light-font-weight: 300;
  --headline-headline-1-light-font-size: 28px;
  --headline-headline-1-light-letter-spacing: 0px;
  --headline-headline-1-light-line-height: 34px;
  --headline-headline-1-light-font-style: normal;
  --headline-headline-1-regular-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-1-regular-font-weight: 400;
  --headline-headline-1-regular-font-size: 28px;
  --headline-headline-1-regular-letter-spacing: 0px;
  --headline-headline-1-regular-line-height: 34px;
  --headline-headline-1-regular-font-style: normal;
  --headline-headline-1-medium-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-1-medium-font-weight: 500;
  --headline-headline-1-medium-font-size: 28px;
  --headline-headline-1-medium-letter-spacing: 0px;
  --headline-headline-1-medium-line-height: 34px;
  --headline-headline-1-medium-font-style: normal;
  --headline-headline-1-bold-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-1-bold-font-weight: 700;
  --headline-headline-1-bold-font-size: 28px;
  --headline-headline-1-bold-letter-spacing: 0px;
  --headline-headline-1-bold-line-height: 34px;
  --headline-headline-1-bold-font-style: normal;
  --headline-headline-2-light-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-2-light-font-weight: 300;
  --headline-headline-2-light-font-size: 24px;
  --headline-headline-2-light-letter-spacing: 0px;
  --headline-headline-2-light-line-height: 30px;
  --headline-headline-2-light-font-style: normal;
  --headline-headline-2-regular-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-2-regular-font-weight: 400;
  --headline-headline-2-regular-font-size: 24px;
  --headline-headline-2-regular-letter-spacing: 0px;
  --headline-headline-2-regular-line-height: 30px;
  --headline-headline-2-regular-font-style: normal;
  --headline-headline-2-medium-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-2-medium-font-weight: 500;
  --headline-headline-2-medium-font-size: 24px;
  --headline-headline-2-medium-letter-spacing: 0px;
  --headline-headline-2-medium-line-height: 30px;
  --headline-headline-2-medium-font-style: normal;
  --headline-headline-2-bold-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-2-bold-font-weight: 700;
  --headline-headline-2-bold-font-size: 24px;
  --headline-headline-2-bold-letter-spacing: 0px;
  --headline-headline-2-bold-line-height: 30px;
  --headline-headline-2-bold-font-style: normal;
  --headline-headline-3-light-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-3-light-font-weight: 300;
  --headline-headline-3-light-font-size: 20px;
  --headline-headline-3-light-letter-spacing: 0px;
  --headline-headline-3-light-line-height: 26px;
  --headline-headline-3-light-font-style: normal;
  --headline-headline-3-regular-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-3-regular-font-weight: 400;
  --headline-headline-3-regular-font-size: 20px;
  --headline-headline-3-regular-letter-spacing: 0px;
  --headline-headline-3-regular-line-height: 26px;
  --headline-headline-3-regular-font-style: normal;
  --headline-headline-3-medium-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-3-medium-font-weight: 500;
  --headline-headline-3-medium-font-size: 20px;
  --headline-headline-3-medium-letter-spacing: 0px;
  --headline-headline-3-medium-line-height: 26px;
  --headline-headline-3-medium-font-style: normal;
  --headline-headline-3-bold-font-family: "Gordita", "Poppins", Helvetica;
  --headline-headline-3-bold-font-weight: 700;
  --headline-headline-3-bold-font-size: 20px;
  --headline-headline-3-bold-letter-spacing: 0px;
  --headline-headline-3-bold-line-height: 26px;
  --headline-headline-3-bold-font-style: normal;
  --callout-light-font-family: "Gordita", "Poppins", Helvetica;
  --callout-light-font-weight: 300;
  --callout-light-font-size: 18px;
  --callout-light-letter-spacing: 0px;
  --callout-light-line-height: 24px;
  --callout-light-font-style: normal;
  --callout-regular-font-family: "Gordita", "Poppins", Helvetica;
  --callout-regular-font-weight: 400;
  --callout-regular-font-size: 18px;
  --callout-regular-letter-spacing: 0px;
  --callout-regular-line-height: 24px;
  --callout-regular-font-style: normal;
  --callout-medium-font-family: "Gordita", "Poppins", Helvetica;
  --callout-medium-font-weight: 500;
  --callout-medium-font-size: 18px;
  --callout-medium-letter-spacing: 0px;
  --callout-medium-line-height: 24px;
  --callout-medium-font-style: normal;
  --callout-bold-font-family: "Gordita", "Poppins", Helvetica;
  --callout-bold-font-weight: 700;
  --callout-bold-font-size: 18px;
  --callout-bold-letter-spacing: 0px;
  --callout-bold-line-height: 28px;
  --callout-bold-font-style: normal;
  --label-label-1-light-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-1-light-font-weight: 300;
  --label-label-1-light-font-size: 20px;
  --label-label-1-light-letter-spacing: 0px;
  --label-label-1-light-line-height: 26px;
  --label-label-1-light-font-style: normal;
  --label-label-1-regular-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-1-regular-font-weight: 400;
  --label-label-1-regular-font-size: 20px;
  --label-label-1-regular-letter-spacing: 0px;
  --label-label-1-regular-line-height: 26px;
  --label-label-1-regular-font-style: normal;
  --label-label-1-medium-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-1-medium-font-weight: 500;
  --label-label-1-medium-font-size: 20px;
  --label-label-1-medium-letter-spacing: 0px;
  --label-label-1-medium-line-height: 26px;
  --label-label-1-medium-font-style: normal;
  --label-label-1-bold-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-1-bold-font-weight: 700;
  --label-label-1-bold-font-size: 20px;
  --label-label-1-bold-letter-spacing: 0px;
  --label-label-1-bold-line-height: 30px;
  --label-label-1-bold-font-style: normal;
  --label-label-2-light-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-2-light-font-weight: 300;
  --label-label-2-light-font-size: 14px;
  --label-label-2-light-letter-spacing: 0px;
  --label-label-2-light-line-height: 20px;
  --label-label-2-light-font-style: normal;
  --label-label-2-regular-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-2-regular-font-weight: 400;
  --label-label-2-regular-font-size: 14px;
  --label-label-2-regular-letter-spacing: 0px;
  --label-label-2-regular-line-height: 20px;
  --label-label-2-regular-font-style: normal;
  --label-label-2-medium-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-2-medium-font-weight: 500;
  --label-label-2-medium-font-size: 14px;
  --label-label-2-medium-letter-spacing: 0px;
  --label-label-2-medium-line-height: 20px;
  --label-label-2-medium-font-style: normal;
  --label-label-2-bold-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-2-bold-font-weight: 700;
  --label-label-2-bold-font-size: 14px;
  --label-label-2-bold-letter-spacing: 0px;
  --label-label-2-bold-line-height: 20px;
  --label-label-2-bold-font-style: normal;
  --label-label-3-light-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-3-light-font-weight: 300;
  --label-label-3-light-font-size: 12px;
  --label-label-3-light-letter-spacing: 0px;
  --label-label-3-light-line-height: 16px;
  --label-label-3-light-font-style: normal;
  --label-label-3-regular-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-3-regular-font-weight: 400;
  --label-label-3-regular-font-size: 12px;
  --label-label-3-regular-letter-spacing: 0px;
  --label-label-3-regular-line-height: 16px;
  --label-label-3-regular-font-style: normal;
  --label-label-3-medium-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-3-medium-font-weight: 500;
  --label-label-3-medium-font-size: 12px;
  --label-label-3-medium-letter-spacing: 0px;
  --label-label-3-medium-line-height: 16px;
  --label-label-3-medium-font-style: normal;
  --label-label-3-bold-font-family: "Gordita", "Poppins", Helvetica;
  --label-label-3-bold-font-weight: 700;
  --label-label-3-bold-font-size: 12px;
  --label-label-3-bold-letter-spacing: 0px;
  --label-label-3-bold-line-height: 16px;
  --label-label-3-bold-font-style: normal;
  --body-body-1-light-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-1-light-font-weight: 300;
  --body-body-1-light-font-size: 16px;
  --body-body-1-light-letter-spacing: 0px;
  --body-body-1-light-line-height: 24px;
  --body-body-1-light-font-style: normal;
  --body-body-1-regular-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-1-regular-font-weight: 400;
  --body-body-1-regular-font-size: 16px;
  --body-body-1-regular-letter-spacing: 0px;
  --body-body-1-regular-line-height: 24px;
  --body-body-1-regular-font-style: normal;
  --body-body-1-medium-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-1-medium-font-weight: 500;
  --body-body-1-medium-font-size: 16px;
  --body-body-1-medium-letter-spacing: 0px;
  --body-body-1-medium-line-height: 24px;
  --body-body-1-medium-font-style: normal;
  --body-body-1-bold-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-1-bold-font-weight: 700;
  --body-body-1-bold-font-size: 16px;
  --body-body-1-bold-letter-spacing: 0px;
  --body-body-1-bold-line-height: 26px;
  --body-body-1-bold-font-style: normal;
  --body-body-2-light-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-2-light-font-weight: 300;
  --body-body-2-light-font-size: 14px;
  --body-body-2-light-letter-spacing: 0px;
  --body-body-2-light-line-height: 20px;
  --body-body-2-light-font-style: normal;
  --body-body-2-regular-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-2-regular-font-weight: 400;
  --body-body-2-regular-font-size: 14px;
  --body-body-2-regular-letter-spacing: 0px;
  --body-body-2-regular-line-height: 20px;
  --body-body-2-regular-font-style: normal;
  --body-body-2-medium-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-2-medium-font-weight: 500;
  --body-body-2-medium-font-size: 14px;
  --body-body-2-medium-letter-spacing: 0px;
  --body-body-2-medium-line-height: 20px;
  --body-body-2-medium-font-style: normal;
  --body-body-2-bold-font-family: "Gordita", "Poppins", Helvetica;
  --body-body-2-bold-font-weight: 700;
  --body-body-2-bold-font-size: 14px;
  --body-body-2-bold-letter-spacing: 0px;
  --body-body-2-bold-line-height: 22px;
  --body-body-2-bold-font-style: normal;
  --footnote-light-font-family: "Gordita", "Poppins", Helvetica;
  --footnote-light-font-weight: 300;
  --footnote-light-font-size: 10px;
  --footnote-light-letter-spacing: 0px;
  --footnote-light-line-height: 13px;
  --footnote-light-font-style: normal;
  --footnote-regular-font-family: "Gordita", "Poppins", Helvetica;
  --footnote-regular-font-weight: 400;
  --footnote-regular-font-size: 10px;
  --footnote-regular-letter-spacing: 0px;
  --footnote-regular-line-height: 13px;
  --footnote-regular-font-style: normal;
  --footnote-medium-font-family: "Gordita", "Poppins", Helvetica;
  --footnote-medium-font-weight: 500;
  --footnote-medium-font-size: 10px;
  --footnote-medium-letter-spacing: 0px;
  --footnote-medium-line-height: 13px;
  --footnote-medium-font-style: normal;
  --footnote-bold-font-family: "Gordita", "Poppins", Helvetica;
  --footnote-bold-font-weight: 700;
  --footnote-bold-font-size: 10px;
  --footnote-bold-letter-spacing: 0px;
  --footnote-bold-line-height: 13px;
  --footnote-bold-font-style: normal;
  --variable-collection-elemen: rgba(218, 228, 134, 0.4);
}
