*, html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Gordita", Helvetica;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.heading-2-bold {
  font-size: var(--heading-heading-2-bold-font-size);
  font-weight: var(--heading-heading-2-bold-font-weight);
  font-style: var(--heading-heading-2-bold-font-style);
  letter-spacing: var(--heading-heading-2-bold-letter-spacing);
  line-height: var(--heading-heading-2-bold-line-height);
}

.heading-3-bold {
  font-size: var(--heading-heading-3-bold-font-size);
  font-weight: var(--heading-heading-3-bold-font-weight);
  font-style: var(--heading-heading-3-bold-font-style);
  letter-spacing: var(--heading-heading-3-bold-letter-spacing);
  line-height: var(--heading-heading-3-bold-line-height);
  text-align: center;
}

.heading-3-medium {
  font-size: var(--heading-heading-3-medium-font-size);
  font-weight: var(--heading-heading-3-medium-font-weight);
  font-style: var(--heading-heading-3-medium-font-style);
  letter-spacing: var(--heading-heading-3-medium-letter-spacing);
  line-height: var(--heading-heading-3-medium-line-height);
}

.headline-1-bold {
  font-size: var(--headline-headline-1-bold-font-size);
  font-weight: var(--headline-headline-1-bold-font-weight);
  font-style: var(--headline-headline-1-bold-font-style);
  letter-spacing: var(--headline-headline-1-bold-letter-spacing);
  line-height: var(--headline-headline-1-bold-line-height);
}

.headline-3-regular {
  font-size: var(--headline-headline-3-regular-font-size);
  font-weight: var(--headline-headline-3-regular-font-weight);
  font-style: var(--headline-headline-3-regular-font-style);
  letter-spacing: var(--headline-headline-3-regular-letter-spacing);
  line-height: var(--headline-headline-3-regular-line-height);
}

.headline-3-medium {
  font-size: var(--headline-headline-3-medium-font-size);
  font-weight: var(--headline-headline-3-medium-font-weight);
  font-style: var(--headline-headline-3-medium-font-style);
  letter-spacing: var(--headline-headline-3-medium-letter-spacing);
  line-height: var(--headline-headline-3-medium-line-height);
}

.headline-3-bold {
  font-size: var(--headline-headline-3-bold-font-size);
  font-weight: var(--headline-headline-3-bold-font-weight);
  font-style: var(--headline-headline-3-bold-font-style);
  letter-spacing: var(--headline-headline-3-bold-letter-spacing);
  line-height: var(--headline-headline-3-bold-line-height);
}

.headline-2-bold {
  font-size: var(--headline-headline-2-bold-font-size);
  font-weight: var(--headline-headline-2-bold-font-weight);
  font-style: var(--headline-headline-2-bold-font-style);
  letter-spacing: var(--headline-headline-2-bold-letter-spacing);
  line-height: var(--headline-headline-2-bold-line-height);
}

.label-1-medium {
  font-size: var(--label-label-1-medium-font-size);
  font-weight: var(--label-label-1-medium-font-weight);
  font-style: var(--label-label-1-medium-font-style);
  letter-spacing: var(--label-label-1-medium-letter-spacing);
  line-height: var(--label-label-1-medium-line-height);
}

.body-1-regular {
  font-size: var(--body-body-1-regular-font-size);
  font-weight: var(--body-body-1-regular-font-weight);
  font-style: var(--body-body-1-regular-font-style);
  letter-spacing: var(--body-body-1-regular-letter-spacing);
  line-height: var(--body-body-1-regular-line-height);
}

.callout-medium {
  font-size: var(--callout-medium-font-size);
  font-weight: var(--callout-medium-font-weight);
  font-style: var(--callout-medium-font-style);
  letter-spacing: var(--callout-medium-letter-spacing);
  line-height: var(--callout-medium-line-height);
}

.footnote-medium {
  font-size: var(--footnote-medium-font-size);
  font-weight: var(--footnote-medium-font-weight);
  font-style: var(--footnote-medium-font-style);
  letter-spacing: var(--footnote-medium-letter-spacing);
  line-height: var(--footnote-medium-line-height);
}

.flower {
  width: 50px;
  height: 50px;
}

/* button start */
.button-1-1, .button-1-2, .button-2-1, .button-2-2, .button-3-1, .button-3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  backdrop-filter: blur(3px);
}

.button-1-1, .button-2-1, .button-3-1 {
  background: var(--mainprimarypr-700, #187D28);
  color: var(--mainprimarypr-50);
  border: none;

  /* 3D */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
}

.button-1-2, .button-2-2, .button-3-2 {
  border: 2px solid var(--Linear-1, #349F61);
  background: rgba(255, 255, 255, 0.01);
  color: var(--mainprimarypr-700);

  /* 3D second */
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.00) inset;
}

.button-1-1, .button-1-2 {
  padding: 12px 36px;
}

.button-2-1, .button-2-2 {
  padding: 12px 24px;
}

.button-3-1, .button-3-2 {
  padding: 12px 48px;
}
/* button end */

/* .container {
  
} */

/* navbar start */
.navbar {
  display: flex;
  padding: 12px 136px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid var(--mainprimarypr-700, #187D28);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 2px 0 rgba(52, 159, 97, 0.50);
  backdrop-filter: blur(40px);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.nav-logo {
  color: var(--mainprimarypr-700);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.nav-logo img {
  width: 26px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 36px;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  padding: 8px 0;
  color: var(--mainprimarypr-700);
}

.active, .menu:hover {
  border-bottom: 2px solid var(--mainprimarypr-700);
  color: var(--mainprimarypr-900);
}
/* navbar end */

/* main start */
.main {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}
/* main end */

/* competitions page start */
.competitions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 136px 24px;
  color: var(--mainprimarypr-900);
}

.section, .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content {
  width: 60%;
  text-align: center;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.flower img {
  width: 50px;
  height: 50px;
}

.registrasi, .hadiah {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 12px 0;
  gap: 12px;
  font-size: var(--display-bold-font-size);
  font-weight: var(--display-bold-font-weight);
  font-style: var(--display-bold-font-style);
  letter-spacing: var(--display-bold-letter-spacing);
  line-height: var(--display-bold-line-height);
}

.hadiah {
  padding: 12px 0;
}

.card-icon-juara img {
  height: 100%;
  width: 65%;
}

.card-content-diff {
  height: 360px;
  width: 349px;
  z-index: 1;
  padding: 84px 36px 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-card {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.list-card img {
  width: 15%;
  rotate: -10deg;
}

.timeline {
  display: flex;
  width: 100%;
  padding: 24px 0;
  align-items: center;
  gap: 68px;
}

.timeline-contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.list-timeline {
  display: flex;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
}

.list-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.list-content {
  display: flex;
  padding: 16px 24px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 2px solid var(--Linear-1, #349F61);
  background: var(--mainprimarypr-50, #F0FDF1);
  color: var(--mainprimarypr-700);
}

.number {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 15px 12px;
  justify-content: center;
  align-items: center;
  background-color: var(--mainprimarypr-700);
  color: var(--mainprimarypr-50);
  border-radius: 100%;
  gap: 10px;
  box-shadow: 2px 2px 4px 0 rgba(178, 222, 203, 0.75) inset, -2px -2px 2px 0 rgba(0, 39, 12, 0.35) inset;
  backdrop-filter: blur(3px); 
}

.line {
  width: 1;
  flex: 1 0 0;  
  stroke-width: 2px;
  stroke: #187D28;
}

/* competitions page end */

/* absolute elements start */
.union-right, .union-left {
  position: absolute;
  transform: rotate(90deg);
  fill: rgba(218, 228, 134, 0.20);
  filter: blur(25px);
  z-index: -999;
}

.union-right {
  right: -150px;
}

.union-left {
  left: -250px;
}

.union-right.first {
  top: -200px;
}

.union-right.second {
  top: 900px;
}

.union-right.third {
  top: 2500px;
}

.union-left.first {
  top: 400px;
}

.union-left.second {
  top: 1600px;
}

.union-left.third {
  top: 3000px;
}

.image-element {
  position: absolute;
  z-index: -9;
}

.moon {
  top: -50px;
  left: -50px
}

.mouth {
  top: 450px;
  right: 700px;
  width: 100px;
}

.bunga {
  top: 150px;
  right: 600px;
}

.teratai {
  top: 550px;
  right: 100px;
}

.star {
  top: 1350px;
  left: -100px;
}

.abstract-1 {
  top: 680px;
  left: -30px;
}

.abstract-2 {
  top: 2700px;
  left: 50px;
}

.abstract-3 {
  top: 1200px;
  right: 50px;
}

.abstract-4 {
  top: 1850px;
  right: -100px;
}

.image-element.mouth.other {
  top: 400px;
  right: 150px;
  width: 150px;
}

.image-element.teratai.other {
  top: 1200px;
  right: -30px;
}

/* absolute elements end */

